body {
    background-image: url('Tokyo.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

aside{
    justify-content: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    border-radius: 125px;
    margin-right: 50px;
    cursor: pointer;
}

.nombre{
    justify-content: center;
    align-items: center;
    font-weight:900;
}

.boton{
    color: white;
    border-color: white;
    bottom: 15px;
    cursor: pointer;
    justify-content: center;
    background-color:cadetblue;
    border-radius: 15px;
    padding: 15px;
    font-weight: bolder;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.masinfo{
    color: black;
    padding: 15px;
}

.tarjeta {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s;
    width: 50%;
    padding: 30px;
}

.hobbies{
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.hobTitu{
    font-weight: bolder;
}

.wzImg{
    width: 150px;
    height: 75px;
}

