# Node.js
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.pnp
.pnp.js

# pnpm
.pnpm-store/         
pnpm-debug.log* 
.pnpm-state.json

# Variables de entorno
.env
.env.local
.env.*.local

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini