body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url("https://i.pinimg.com/736x/64/d4/f4/64d4f435a9b6465b2f9d1e6fb636452d.jpg"); 
   background-size: cover;
   color: white;
   text-shadow: 2px 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
   display: flex;
   flex-direction:row;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.9);
   border-radius: 15px;
   padding: 25px;
   width: 100%;
   margin: 5px;
}

.titleH1{
   color: white;
   font-size: 40px;
   font-weight: bolder;
   padding: 0px 25px;
   cursor: pointer;
   text-decoration: none;
}

.titleH1:hover{
   color: #d0ff00;
}

.titleH1:active{
   color: #ff7300;
   transform: translateY(3px)
}

.headerAside{
   padding: 0px 25px;
   cursor: default;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgba(0, 0, 0,0.9);
   box-shadow: 5px, 5px, 5px white;
   border-radius: 15px;
   width: 85%;
   padding: 50px;
   margin: 5px;
}

.formContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: bolder;
}

.productNumber{
   text-align: center;
   width: 35px;
   height: 25px;
   margin-left: 15px;
   font-weight: bold;
}

.submitTableButton{
   transition: width 1s ease-in-out;
   font-weight: bolder;
   border-radius: 35px;
   width: 200px;
   height: 55px;
   cursor: pointer;
   border:none;
}

.submitTableButton:hover{
   background-color: yellow;
}

.submitTableButton:active{
   background-color: #ff7300;
  box-shadow: 0 2px #c0c0c0;
  transform: translateY(3px);
}

table{
   border: 2px solid blue;
   font-weight: bolder;
   font-size: 20px;
   padding: 35px;
}

table th{
   width: 300px;
}



